/datasources/csv/csv.iml
/datasources/java/java_datasource.iml
/datasources/jdbc/jdbc.iml
/.idea/
/out/
/rwj.iml
/.gradle/
/gradle/wrapper/
/build/
/runtime/build/
/reportannotations/build/
/customer/camerasamples/build/
/dialogparams/build/
/pojo/build/
/testenv/
/newdir/
/itest/

/*/build/
